
	<style>
		table, th, td {
		align: center;
		border: 1px solid black;
		font-family: Arial, Consolas, "Courier New", monospace;
		text-align: center;
		padding: 5px 25px 5px;
		border-collapse: collapse;
	}
	
	table{
		width: 90%;
		margin: auto;
		margin: auto;
	}
	
	th{
		text-weight: bold;
		color: white;
		align: center;
		background-color: #3498DB;
		
	}
	tr:nth-child(odd){
			background: lightgrey;
		}

</style>
